

@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h4>BusinessControl</h4>
    <hr />
    <dl class="dl-horizontal">
        
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
