/* font family */
.contact-us-page {
  padding: 50px 0;
  font-family: "Open Sans", "PT Sans", sans-serif; }
  .contact-us-page .title {
    font-family: "Open Sans", "PT Sans", sans-serif;
    font-size: 22px;
    color: #0f3311; }
  .contact-us-page .line {
    width: 100px;
    border-bottom: 1px solid #ececec;
    margin: 10px 0; }
  @media only screen and (max-width: 991px) {
    .contact-us-page .contact-us-section {
      margin-bottom: 30px; } }
  .contact-us-page .contact-us-block {
    min-height: 500px;
    height: 100%;
    border-right: 1px solid #ececec;
    background-image: url("../../img/contuctUs-bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 65% 50%; }
    @media only screen and (max-width: 991px) {
      .contact-us-page .contact-us-block {
        background-size: 50% 50%;
        border: none; } }
    @media only screen and (max-width: 768px) {
      .contact-us-page .contact-us-block {
        background-size: 65% 50%; } }
    .contact-us-page .contact-us-block .sub-title {
      font-family: "Open Sans", "PT Sans", sans-serif;
      font-size: 16px;
      color: #5f5f5f;
      max-width: 450px;
      margin-bottom: 25px; }
    .contact-us-page .contact-us-block .contact-block .contact-block-title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 10px; }
    .contact-us-page .contact-us-block .contact-block .contact-block-text {
      font-size: 14px;
      color: #5f5f5f; }
      .contact-us-page .contact-us-block .contact-block .contact-block-text a {
        color: black; }
        .contact-us-page .contact-us-block .contact-block .contact-block-text a:hover {
          color: black; }
        .contact-us-page .contact-us-block .contact-block .contact-block-text a:visited {
          color: black; }
  .contact-us-page .contact-us-information-block .contact-information-form .no-label {
    display: flex;
    align-items: flex-end;
    min-height: 74px; }
  .contact-us-page .contact-us-information-block .contact-information-form .form-item {
    font-family: "Open Sans", "PT Sans", sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%; }
    .contact-us-page .contact-us-information-block .contact-information-form .form-item .form-item-label {
      cursor: pointer;
      font-size: 16px;
      color: #444444;
      line-height: 1.482;
      margin-left: 10px; }
    .contact-us-page .contact-us-information-block .contact-information-form .form-item input[type="text"] {
      font-size: 13px;
      padding: 10px 10px;
      border: 1px solid #868686;
      outline: none;
      width: 100%; }
    .contact-us-page .contact-us-information-block .contact-information-form .form-item input[type="submit"] {
      background-color: #0f3311;
      font-size: 14px;
      cursor: pointer;
      color: white;
      font-weight: 600;
      text-align: center;
      border: 1px solid #0f3311;
      padding: 10px 5px;
      outline: none;
      transition: 0.3s;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      text-transform: uppercase;
      max-width: 165px;
      width: 165px; }
    .contact-us-page .contact-us-information-block .contact-information-form .form-item select, .contact-us-page .contact-us-information-block .contact-information-form .form-item option {
      background-color: #0f3311;
      font-size: 14px;
      cursor: pointer;
      color: white;
      font-weight: 600;
      text-align: center;
      border: 1px solid #0f3311;
      padding: 10px 5px;
      outline: none;
      transition: 0.3s; }
    .contact-us-page .contact-us-information-block .contact-information-form .form-item select {
      width: 100%;
      background-color: #0f3311;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .contact-us-page .contact-us-information-block .contact-information-form .form-item option {
      background-color: #afafaf;
      padding: 10px 10px;
      line-height: 50px;
      color: #0f3311; }
    .contact-us-page .contact-us-information-block .contact-information-form .form-item .rail-select {
      position: relative; }
      .contact-us-page .contact-us-information-block .contact-information-form .form-item .rail-select .select-side {
        position: absolute;
        right: 10px;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none; }
    .contact-us-page .contact-us-information-block .contact-information-form .form-item textarea {
      font-size: 13px;
      padding: 10px 5px;
      border: 1px solid #868686;
      /*border-radius: 5px;*/
      outline: none;
      width: 100%;
      height: 100px;
      resize: none; }
  .contact-us-page .contact-us-information-block .contact-information-form .submit-button-block {
    align-items: flex-end; }

/*# sourceMappingURL=contact-us.css.map */
