.wkOptions__storePage {
  padding-top: 20px;
  margin-bottom: 30px;
}
.wkOptions__box--delivery {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}
.wkOptions__box--store {
  margin-left: 0;
  margin-right: 0;
}
