<main id="business-registration-page">
    <div class="business-registration-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <form action="#" method="post" class="business-registration-form">

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="firstNmae" class="form-item-label">First name*</label>
                                    <input type="text" class="input-text" id="firstNmae" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="lastName" class="form-item-label">Last name*</label>
                                    <input type="text" class="input-text" id="lastName" required>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="email" class="form-item-label">Email*</label>
                                    <input type="text" class="input-text" id="email" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="password" class="form-item-label">Password*</label>
                                    <input type="password" class="input-text" id="password" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="confirmPassword" class="form-item-label">Confirm password*</label>
                                    <input type="password" class="input-text" id="confirmPassword" required>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12 no-label">
                                <div class="form-item">

                                    <input type="submit" class="input-submit" value="Add Doctor">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-lg-6 col-sm-12 business-registration-header-right-block">
                    <div class="">
                        <h1 class="">Add a new Store</h1>
                        <div class="description">
                            <h4>Get Listed</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Corporis nesciunt perferendis quisquam quo sed? Asperiores atque cum enim expedita
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="automates-process-block">
        <div class="container">
            <div class="row fx-center-h">
                <h2 class="title">
                    <span class="bold-text"> Weed karma</span> automates the process
                    ordering dishes from your menu
                    and you get ready orders
                </h2>
            </div>
            <div class="row fx-center-h">


                <div class="col-lg-3 col-sm-12">
                    <div class="automates-process-item">
                        <div class="automates-process-item-img">
                            <img src="~/img/registration-business-images/money.png" alt="">

                        </div>
                        <div class="automates-process-item-title">Ready sales channel</div>
                        <div class="automates-process-item-description">
                            We place your
                            menu on your
                            site, and you only pay
                            for received orders.
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="automates-process-item">
                        <div class="automates-process-item-img">
                            <img src="~/img/registration-business-images/graph.png" alt="">

                        </div>
                        <div class="automates-process-item-title">Without promotion costs</div>
                        <div class="automates-process-item-description">
                            We promote your restaurant on our site
                            and mobile applications with an audience
                            more than 4 million people.
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="automates-process-item">
                        <div class="automates-process-item-img">
                            <img src="~/img/registration-business-images/racet.png" alt="">
                        </div>
                        <div class="automates-process-item-title">Process automation</div>
                        <div class="automates-process-item-description">
                            Our system handles
                            and sends you ready orders
                            no mistakes.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ready-sales-channel-block">
        <div class="container">
            <div class="row ready-sales-channel-row fx-center-v fx-center-h">
                <div class="col-lg-6 col-sm-12">
                    <div class="ready-sales-channel-img section-img">

                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 section-right-block ">
                    <div class="title ready-sales-channel-title section-title">
                        Ready sales channel
                    </div>
                    <div class="ready-sales-channel-description section-description">
                        We place your menu on the site
                        and mobile applications
                        with attendance of more than 4 million
                        person per month.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="without-promotion-costs-block">
        <div class="container">
            <div class="row fx-center-v fx-center-h">
                <div class="col-lg-6 col-sm-12">
                    <div class="without-promotion-costs-block-img section-img">

                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 section-right-block">
                    <div class="title without-promotion-costs-block-title section-title">
                        Without promotion costs
                    </div>
                    <div class=" without-promotion-costs-block-description section-description">
                        We promote your restaurant on our site
                        and mobile applications with an audience
                        more than 4 million people.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="order-accept-block">
        <div class="container">
            <div class="row fx-center-v fx-center-h">
                <div class="col-lg-6 col-sm-12">
                    <div class="order-accept-block-img section-img">

                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 section-right-block">
                    <h2 class="title order-accept-block-title section-title">
                        Process Automation
                    </h2>
                    <div class="order-accept-block-description section-description">
                        We provide you with an electronic system
                        on taking orders, which will help
                        automate operating
                        activity of your restaurant.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="partners-block">
        <div class="container">
            <div class="row fx-center-h">
                <h2 class="title partners-block-title section-title">
                    Partners about the
                    <sapn class="bold-green-text"> Weed Karma</sapn>
                </h2>
            </div>
            <div class="row fx-center-h">
                <div class="col-lg-10 col-sm-12">
                    <div class="partners-item fx">
                        <div class="partners-item-img">
                            <img src="~/img/registration-business-images/parner-img-1.png" alt="partners-img-item">
                        </div>
                        <div class="partners-item-content fx fx-between">
                            <div class="partners-item-description">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book. It has survived not only five centuries, but also the leap into
                                electronic typesetting, remaining essentially unchanged. It was popularised in
                                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                and more recently with desktop publishing software like Aldus PageMaker
                                including versions of Lorem Ipsum.
                            </div>

                            <div class="partners-item-user">
                                <div class="partners-item-name">
                                    JOhn Smith
                                </div>
                                <div class="partners-item-store-name">
                                    "<span class="name">Weed Store</span>" LLC
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="partners-item fx">
                        <div class="partners-item-img">
                            <img src="~/img/registration-business-images/parner-img-1.png" alt="partners-img-item">
                        </div>
                        <div class="partners-item-content fx fx-between">
                            <div class="partners-item-description">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book. It has survived not only five centuries, but also the leap into
                                electronic typesetting, remaining essentially unchanged. It was popularised in
                                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                and more recently with desktop publishing software like Aldus PageMaker
                                including versions of Lorem Ipsum.
                            </div>

                            <div class="partners-item-user">
                                <div class="partners-item-name">
                                    JOhn Smith
                                </div>
                                <div class="partners-item-store-name">
                                    "<span class="name">Weed Store</span>" LLC
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="map-block">
        <div class="container">
            <div class="row fx-center-h">
                <h2 class="map-block-title title section-title">
                    Cities Weed Karma
                </h2>
            </div>
        </div>
        <div class="map-block-img section-img">

        </div>


    </section>
</main>