<main class="page-content">

    <div class="container-fluid store-body">
        <!-- contact information Start-->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 class="section-title">
                    General setting
                </h2>

            </div>
        </div>
        <form action="#" method="post" id="generalSettingForm">
            <div class="container">
                <div class="row contact-information justify-content-center">

                    <div class="col-lg-6 col-md-12">
                        <div class="row">

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="email" class="form-item-label">Email*</label>
                                    <input type="text" id="email" required>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="login" class="form-item-label">login*</label>
                                    <input type="text" id="login" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="password" class="form-item-label">password</label>
                                    <input type="password" id="password">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="confirmPassword" class="form-item-label">Confirm password</label>
                                    <input type="password" id="confirmPassword">
                                </div>
                            </div>

                            <div class="col-lg-12 col-sm-12">
                                <div class="form-item">
                                    <label for="metaKeys" class="form-item-label">Store Meta Keywords</label>
                                    <input type="text" id="metaKeys" required>
                                </div>
                            </div>

                            <div class="col-lg-12 col-sm-12">
                                <div class="form-item">
                                    <label class="form-item-label">Order delivery APP</label>
                                    <div class="delivery-order-app checking-block">
                                        <label>
                                            <input type="radio" name="delivery-app" value="yes" />
                                            <span class="delivery-order-app-button checked-button">Yes</span>
                                        </label>

                                        <label>
                                            <input type="radio" name="delivery-app" value="no" />
                                            <span class="delivery-order-app-button checked-button">No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-sm-12">
                                <div class="form-item">
                                    <label class="form-item-label">Order APP</label>
                                    <div class="order-app checking-block">
                                        <label>
                                            <input type="checkbox" name="order-app" value="ios" />
                                            <span class="order-app-button checked-button">IOS</span>
                                        </label>

                                        <label>
                                            <input type="checkbox" name="order-app" value="android" />
                                            <span class="order-app-button checked-button">Android</span>
                                        </label>

                                        <label>
                                            <input type="checkbox" name="order-app" value="app" />
                                            <span class="order-app-button checked-button">App</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-sm-12">
                                <div class="form-item">
                                    <label class="form-item-label">Notification</label>
                                    <div class="notification-block">
                                        <label>
                                            <input type="checkbox" name="notification" value="sms" />
                                            <span class="notification-button checked-button">SMS</span>
                                        </label>

                                        <label>
                                            <input type="checkbox" name="notification" value="email" />
                                            <span class="notification-button checked-button">email</span>
                                        </label>

                                        <label>
                                            <input type="checkbox" name="notification" value="on-site" />
                                            <span class="notification-button checked-button">on site</span>
                                        </label>
                                        <label>
                                            <input type="checkbox" name="notification" value="soft" />
                                            <span class="notification-button checked-button">soft for store</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-sm-12">
                                <div class="form-item business-integration-block">
                                    <label class="form-item-label">
                                        Offers growing cannabis production
                                        <i class="fas fa-info-circle"></i>
                                    </label>
                                    <div class="business-integration ">
                                        <label>
                                            <input type="radio" name="business-integration" checked value="yes" />
                                            <div class="business-integration-button"><i class="business-integration-checkd fas fa-check"></i></div>
                                            <span class="">Yes</span>
                                        </label>

                                        <label>
                                            <input type="radio" name="business-integration" value="no" />
                                            <div class="business-integration-button"><i class="business-integration-checkd fas fa-check"></i></div>
                                            <span class="">No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <!--<label class="form-item-label">Offers growing cannabis production-->
                                    <!--<i class="fas fa-info-circle"></i></label>-->
                                    <div class="rail-select">
                                        <div class="select-side">
                                            <i class="fas fa-chevron-down"></i>
                                        </div>
                                        <select id="selectCity" required>
                                            <option value="" hidden disabled selected>Select language</option>
                                            <option value="cl"> English</option>
                                            <option value="al"> Russian</option>
                                            <option value="al"> Armenian</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-12 col-sm-12 no-label">
                                <div class="form-item">

                                    <input type="submit" id="" value="Save">
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>

        </form>

    </div>

</main>