.singleProduct__pageContainer {
  padding-top: 20px;
}
.singleProduct__relatedRow {
  justify-content: center;
  margin-left: -8px;
  margin-right: -8px;
}
.singleProduct__aside {
  min-height: 500px;
  height: 100%;
  max-width: 270px;
  background-color: #f4f4f4;
  /* border-top: 5px solid var(--green); */
  border-radius: 10px;
  display: block;
  padding: 15px;
}
.singleProduct__form {
  /* background-color: #dadadc;
  margin-left: -20px;
  margin-right: -20px; */
  padding: 5px 0;
  text-align: center;
}
.singleProduct__inputField {
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#singleProduct__input {
  height: 25px;
  max-width: 240px;
  width: 100%;
  text-indent: 10px;
  border: none;
  border-radius: 10px;
}
#singleProduct__input + label {
  color: #a2a2a2;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.singlePage__suggestionsList {
  border-bottom: 1px solid #dadadc;
}
.singlePage__menu {
  margin-top: 20px;
}
.singlePage__suggestion {
  color: #000;
  border-top: 1px solid #dadadc;
  padding: 3px 10px;
}
.ss__menu {
  margin-top: 20px;
  /* overflow: hidden; */
}
.ss__menuItem {
  color: #fff;
  text-align: center;
  background-color: var(--darkGreen);
  transition: 0.3s;
}
.ss__menuItem:hover {
  background-color: #a2a2a2;
  transition: 0.3s;
}
.ss__menuItem--active {
  background-color: #a2a2a2;
  pointer-events: none;
}
/* For overriding margin top given by js */
/* .ss__menuItem--active .ss__subMenu {
  margin-top: 0 !important;
} */
.ss__menuItem:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.ss__menuItem:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* Old */
/* .ss__menuItem:last-child .ss__subMenuItem:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ss__subMenuContainer {
  overflow: hidden;
}
.ss__subMenu {
  margin-top: -5000px;
  transition: 0.6s;
}
.ss__subMenuItem {
  background-color: var(--green);
  padding-left: 25px;
} */
/* Old */

/* .singlePage__menu:hover .singlePage__submenu {
  position: relative;
  margin-top: 0;
  transition: 5s;
} */
.singlePage__suggestionLink {
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 8px 0;
  transition: 0.3s;
}
.singlePage__suggestion:hover > .singlePage__suggestionLink {
  padding-left: 10px;
}

.ss-store {
  height: 215px;
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 6px;
  /* box-shadow: inset 0 0 30px 1px rgba(153, 153, 153, 0.54); */
  box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.5);
}
.ss-store__right {
  padding: 15px 0 42px 20px;
}
.ss-store__left {
  max-width: 198px;
  /* width: 100%; */
  height: 100%;
  display: flex;
  align-items: center;
}
.ss-store__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.ss-store__name {
  color: #002d05;
  font-size: 24px;
  font-weight: 800;
  text-transform: capitalize;
  /* margin-right: 20px; */
  margin-bottom: 25px;
  position: relative;
}
.ss-store__name::after {
  content: "";
  height: 3px;
  width: 40%;
  background-color: #000;
  display: block;
  position: absolute;
  left: 0;
  bottom: -20px;
}
.ss-store__rating {
  height: 22px;
  width: 22px;
  margin-top: 5px;
  margin-left: 20px;
  position: relative;
}
.ss-store__ratingIcon {
  height: 100%;
  max-width: 100%;
  width: 100%;
  display: block;
}
.ss-store__ratingValue {
  color: var(--darkGreen);
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: -7px;
  right: -10px;
}
.ss-store__ratingValue::before {
  content: "+";
}
.ss__infoItemRow span {
  font-size: 12px;
  margin-left: 20px;
}
.ss__infoItem {
  max-width: 352px;
  width: 100%;
  background-color: #ececed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 30px;
}
.ss__infoItem:nth-child(odd) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ss__infoItem:nth-child(even) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.ss__infoImg {
  height: 26px;
  max-width: 100%;
  width: 26px;
  display: block;
}
.ss__infoValue {
  font-size: 16px;
  font-weight: 600;
}
.ss-store__header {
  padding-left: 36px;
  padding-right: 28px;
}
.ss-store__headerRigt {
  display: flex;
  justify-content: space-between;
}
.ss-store__headerLink {
  width: 43px;
  color: var(--darkGreen);
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.ss-store__headerLink:not(:last-child)::after {
  content: "";
  height: 16px;
  width: 2px;
  background-color: #d0d0d0;
  display: block;
  position: absolute;
  top: 2px;
  right: 0;
}
.ss-store__headerLink img {
  height: 20px;
  width: 20px;
  display: block;
  margin-bottom: 2px;
}
.singleProduct__relatedContainer {
  margin-top: 20px;
}
.ss-store__navBox {
  /* background-color: #dadadc; */
  background-color: #fbfbfb;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
}
.ss-store__navBoxLeft {
  color: var(--darkGreen);
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}
.ss-store__viewAll {
  height: 19px;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--darkGreen);
  border-radius: 10px;
  margin-right: 8px;
  padding-left: 9px;
  padding-right: 9px;
  /* padding: 6px 9px; */
}

.singleProduct__breadcrumbs a {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
}
.singleProduct__breadcrumbs a:not(:last-child)::after {
  content: ">";
}
.ss-store__navs {
  height: 22px;
  width: 60px;
  /* background-color: #fff; */
  border-radius: 10px;
  padding: 2px 7px;
}
.ss-store__navs a {
  height: 19px;
  width: 21px;
  color: #fff;
  line-height: 19px;
  font-size: 10px;
  text-align: center;
  background-color: var(--darkGreen);
  border-radius: 10px;
}
.singleProduct__navIcon {
  margin: 0 3px;
}
.singleProduct__relatedItem {
  /* border: 1px solid var(--green); */
  border-radius: 8px;
  box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.5);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 16px;
  position: relative;
}
.ss-store__category {
  height: 27px;
  width: 107%;
  color: #fff;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  background-color: #595959;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: -3.35%;
  right: 0;
  z-index: 1;
}
.ss-store__ratingRibbon {
  height: 27px;
  width: 70px;
  line-height: 27px;
  text-align: right;
  background-color: #ed8a19;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-right: 10px;
  position: absolute;
  bottom: 38px;
  left: -3.35%;
  z-index: 1;
}
.ss-store__ratingRibbonValue {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.ss-store__ratingRibbonIcon {
  color: #fff;
  font-size: 14px;
  margin-left: 5px;
}
.ss-ribbons--left::before {
  content: "";
  position: absolute;
  bottom: -0.5em;
  border-left: 0.5em solid transparent;
  left: 0;
}
.ss-ribbons--both::before,
.ss-ribbons--both::after {
  content: "";
  position: absolute;
}
.ss-ribbons--both::before {
  bottom: -1em;
  border-left: 1em solid transparent;
  left: 0;
}
.ss-ribbons--both::after {
  bottom: -1em;
  border-right: 1em solid transparent;
  right: 0;
}
.ss-ribbons--grey::before,
.ss-ribbons--grey::after {
  border-top: 1em solid #a4a4a4;
}
.ss-ribbons--orange::before,
.ss-ribbons--orange::after {
  border-top: 0.5em solid #ed8a19;
}
.ss-store__bgImage {
  height: 200px;
  width: 224px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  align-items: flex-end;
  position: relative;
}
.ss-store__bgImage::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  /* background-color: rgba(0, 0, 0, 0.3); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.ss-store__details {
  width: 100%;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  z-index: 1;
}
.sungleProduct__shopName {
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
}
.ss-store__selects {
  background-color: #f4f4f4;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.ss-store__variationsContainer {
  max-width: 130px;
  width: 100%;
}
.ss-store__variation {
  width: 30px;
  color: var(--darkGreen);
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 3px 6px;
}
.ss-store__variation--selected {
  position: relative;
}
.ss-store__variation--selected::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--darkGreen);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.singleProduct__bottomRow {
  background-color: #5f5f5f;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 0;
  padding: 8px 20px;
  position: relative;
}
.ss-store__orderBtn {
  height: 100%;
  width: 75px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  text-transform: uppercase;
  /* overflow: hidden; */
  background-color: var(--darkGreen);
  border-bottom-right-radius: 8px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  transition: 0.3s;
}
.ss-store__orderBtn:hover {
  background-color: var(--green);
  transition: 0.3s;
}
.ss-store__orderBtn:hover::before {
  border-right: 38px solid var(--green);
  transition: 0.3s;
}
.ss-store__orderBtn::before {
  content: "";
  position: absolute;
  border-top: 38px solid transparent;
  border-right: 38px solid var(--darkGreen);
  display: block;
  bottom: 0;
  left: -38px;
  z-index: 2;
  transition: 0.3s;
}
.ss-store__orderBtn::after {
  content: "";
  width: 38px;
  box-shadow: -1px -4px 25px 1px rgba(255, 255, 255, 1);
  display: block;
  position: absolute;
  top: 50%;
  left: -38px;
  z-index: 1;
  transform: rotate(-45deg) translateY(-50%);
  transition: 0.3s;
}
.ss-store__orderBtn:hover::after {
  /* box-shadow: -1px -4px 15px 2px rgba(255, 255, 255, 1); */
  transition: 0.3s;
}
.ss-store__orderBtn.singleProduct__order--ordered {
  pointer-events: none;
  opacity: 0.7;
  background-color: var(--green);
}
.ss-store__orderBtn.singleProduct__order--ordered::before {
  border-right: 38px solid var(--green);
}
.singleProduct__name {
  max-width: 100px;
  width: 100%;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.singleProduct__selectWrapper label {
  margin-right: 5px;
}
.ss-store__info {
  height: 21px;
  width: 21px;
  color: var(--darkGreen);
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 1px solid var(--darkGreen);
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  transition: 0.3s;
}
.ss-store__infoIcon {
  font-size: 14px;
}
.singleProduct__order {
  display: block;
}

.singleProduct__basketImg {
  height: auto;
  max-width: 100%;
  width: 100%;
  display: block;
}
.ss-store__selectWrapper {
  width: 100%;
}
.ss-store__selectWrapper label {
  color: var(--darkGreen);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.singleProduct__cost {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.singleProduct__cost::before {
  content: "Cost ";
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
}
.singleProduct__cost::after {
  content: " $";
}
.singleProduct__quantity {
  color: #000;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.singleProduct__quantity::before {
  content: "PCS ";
  color: var(--darkGreen);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 5px;
}

.quantityPopup {
  font-size: 13px;
  height: 100%;
  background-color: #fff;
  border-top: 1px solid var(--green);
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.quantityPopup__bottom {
  height: 100%;
  /* background: linear-gradient(0deg, rgb(35, 60, 32), var(--green)); */
  background-color: #ececed;
  padding: 25px 10px 0;
  position: relative;
  z-index: 3;
}
.quantityPopup__close {
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 5px;
  right: 8px;
}
#quantityPopup__input {
  height: 25px;
  max-width: 40px;
  text-align: center;
  border: 1px solid var(--green);
  outline: none;
  margin: 0 5px;
}
.quantityPopup__cost {
  color: var(--darkGreen);
  font-size: 13px;
}
.quantityPopup__cost::after {
  content: " x ";
}
.quantityPopup__cost--usd::after {
  content: " $";
}
.quantityPopup__costSummary {
  color: var(--darkGreen);
  font-size: 13px;
}
.quantityPopup__costSummary--usd::after {
  content: " $";
}
.quantityPopup__costSummary::before {
  content: " = ";
}
.quantityPopup__countSubmit {
  max-width: 60px;
  color: var(--darkGreen);
  font-size: 15px;
  font-weight: 600;
  margin: 15px auto;
  padding: 3px 7px;
  border: 2px solid var(--darkGreen);
  border-radius: 10px;
}
.quantityPopup__incDec {
  height: 16px;
  width: 16px;
  color: var(--green);
  font-size: 9px;
  line-height: 14px;
  text-align: center;
  background-color: #fff;
  border: 1px solid var(--darkGreen);
  border-radius: 50%;
  display: block;
  transition: 0.3s;
}
.quantityPopup__incDec:hover {
  color: #fff;
  background-color: var(--darkGreen);
  transition: 0.3s;
}

/* Cart */
.addedToCart {
  height: 60px;
  width: 262px;
  line-height: 60px;
  /* background-color: #fff; */
  /* border: 3px solid var(--darkGreen); */
  /* border-radius: 10px; */
  /* margin-left: 8px; */
  /* margin-right: 8px; */
  /* margin-bottom: 16px; */
  position: fixed;
  left: 30%;
  bottom: -100%;
  z-index: -10;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.addedToCart--open {
  opacity: 1;
  bottom: 70px;
  z-index: 10;
  transition: 0.3s ease-in-out;
}
.addedToCart__text {
  color: var(--darkGreen);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.addedToCart__text img {
  height: 22px;
  max-width: 100%;
  width: 22px;
  display: block;
  margin-right: 10px;
}
.addedToCart__tiangle {
  height: 28px;
  width: 28px;
  background-color: #fff;
  border-bottom: 3px solid var(--darkGreen);
  border-right: 3px solid var(--darkGreen);
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;
  transform: rotate(36deg) skew(-20deg);
}
.addedToCart__image {
  height: auto;
  max-width: 100%;
  /* width: 100%; */
  display: block;
}

/* Basket */
.basketPopup {
  height: 60px;
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* box-shadow: 0 0 30px 1px #cacacd; */
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  z-index: 10;
  transition: 0.3s;
}
.basketPopup--open {
  opacity: 1;
  bottom: 0;
  transition: 0.3s;
}
.basketPopup__left {
  padding-left: 90px;
  position: relative;
}
.basketPopup__imgBox {
  /* width: 50px; */
  /* margin-left: 15px; */
  /* margin-right: 15px; */
  position: absolute;
  left: 10px;
  bottom: 0;
}
.basketPopup__img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
.basketPopup__right {
  width: 250px;
  background-color: var(--green);
  border-top-right-radius: 10px;
  padding: 0 10px;
}
.basketPopup__rightTitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.basketPopup__price {
  font-size: 20px;
}
.basketPopup__priceWarning {
  color: #dadadc;
}
.basketPopup__goToCart {
}
.basketPopup__goToCartIcon {
  color: #fff;
  font-size: 25px;
}
