@import "../main-styles";

.store-feedback {
margin-bottom: 90px;
}

.store-feedback-container {
  padding: 0 15px;
}

.store-feedback-header {
  padding: 15px 0;
  border-bottom: 1px solid $lightBrown;
}

.store-feedback-header-title {
  font-size: 15px;
  color: $mainGreen;
  font-weight: 700;
}

.store-feedback-header-rating-block {
  justify-content: flex-end;
  .percent-block {
    font-size: 12px;
    color: $darkBrown;
    margin-right: 10px;
  }
  .rating-block {
    img {
      height: 15px;
    }
  }
}

.store-feedback-item {
  //font-size: 13px;
  padding: 20px 0 10px;
  border-bottom: 1px solid $lightBrown;
}

.feedback-add-username {
  color: black;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 7px;
}

.feedback-content {
  font-size: 13px;
  color: $darkBrown;
  margin-bottom: 7px;
}

.feedback-add-date {
  font-size: 12px;
  color: #bfbfbf;
  font-style: italic;
}

.feedback-item-rating {
  text-align: right;
  img {
    height: 15px;
  }
}

.feedback-send-block {
  background-color: $color-green;
  padding: 20px 0;
  @include border-radius(10px 10px 0 0)
}

.feedback-form {
  justify-content: center;
}

.feedback-input {
  background-color: white;
  @include border-radius(5px);
  width: 220px;
  line-height: 30px;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 10px;
}
.feedback-send-block{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.feedback-send-button {
  margin-left: 25px;
  input {
    display: none;
  }
  a {
    display: block;
    height: 30px;
  }
  img {
    height: 30px;
    width: 30px;
  }
}