@*@model ICollection<DispensariesStoresViewModel>*@
@{
    ViewData["Title"] = "Dispensaries" + @ViewData["Message"];
    string baseUrl = Context.Request.Scheme + "://" + Context.Request.Host.Value;

}

<link rel="stylesheet" href="~/css/pages/stores.css" />
<link rel="stylesheet" href="~/css/pages/stores-filters.css" />
<link rel="stylesheet" href="~/css/map.css" />
<section class="wkBreadcrumbs">
    <div class="container--medium">
        <div class="row">
            <ul class="fx wkBreadcrumbs__list">
                <li class="wkBreadcrumbs__item">
                    <a href="index.html" class="wkBreadcrumbs__link">Weed Karma</a>
                </li>
                <li class="wkBreadcrumbs__item">
                    <a href="javascrpt:void(0)" class="wkBreadcrumbs__link">Dispensaries</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="store-filters-section">
    <div class="store-filters-mobile-button">
        Filters
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="container--medium store-filters">
        <div class="row store-filters-row">

            <div class="col-lg-5 col-md-8 col-sm-12">
                <div class="row">
                    <div class="s col-lg-6">
                        <section class="switching-block st-filter-switch">
                            <div class="fx-fx-center-v switching-item ">
                                <img src="~/img/store/filters/open-now-icon.png" alt="">
                                <input type="checkbox" id="switchingCheckbox__1" class="switchingCheckbox" checked />
                                <label class="fx fx-center-v" for="switchingCheckbox__1">dispensaries</label>
                            </div>
                            <div class="fx-fx-center-v switching-item ">
                                <img src="~/img/store/filters/delivery-package-icon.png" alt="">
                                <input type="checkbox" id="switchingCheckbox__2" class="switchingCheckbox" checked />
                                <label class="fx fx-center-v" for="switchingCheckbox__2">DELIVERIES</label>
                            </div>
                            <div class="fx-fx-center-v switching-item ">
                                <img src="~/img/store/filters/near-me-icon.png" alt="">
                                <input type="checkbox" id="switchingCheckbox__3" class="switchingCheckbox" />
                                <label class="fx fx-center-v" for="switchingCheckbox__3">Near Me</label>
                            </div>
                        </section>
                    </div>

                    <div class=" col-lg-6">
                        <section class="switching-block st-filter-switch">
                            <div class="fx-fx-center-v switching-item ">
                                <img src="~/img/store/filters/gift-card-icon.png" alt="">
                                <input type="checkbox" id="switchingCheckbox__4" class="switchingCheckbox" />
                                <label class="fx fx-center-v" for="switchingCheckbox__4">Gift Cart Pay</label>
                            </div>
                            <div class="fx-fx-center-v switching-item ">
                                <img src="~/img/store/filters/buy-point-icon.png" alt="">
                                <input type="checkbox" id="switchingCheckbox__5" class="switchingCheckbox" />
                                <label class="fx fx-center-v" for="switchingCheckbox__5">Pay with POINTS</label>
                            </div>
                            <div class="fx-fx-center-v switching-item ">
                                <img src="~/img/store/filters/open-now-icon.png" alt="">
                                <input type="checkbox" id="switchingCheckbox__6" class="switchingCheckbox" checked />
                                <label class="fx fx-center-v" for="switchingCheckbox__6">Open Now</label>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <section class="st-filter-search store-filter-item">

                            <div class="">
                                <input type="search" class="filter-search-input"
                                       placeholder="for dispensaries, deliveries & brands">
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="row">
                    <div class=" col-lg-6 flex-align-between">

                        <section class="st-filter-map store-filter-item">
                            <h4 class="text-center st-filter-item__title">
                                <span class="switching-map">

                                    <input type="checkbox" id="switchingCheckboxMap" class="switchingCheckbox" />
                                    <label for="switchingCheckboxMap" class="switchingCheckboxMap-text">show on Map</label>
                                </span>
                            </h4>
                            <div class="map-image">

                            </div>

                            <section class="st-filter-district store-filter-item">
                                <!--<h4 class="text-center st-filter-item__title">Select your district</h4>-->
                                <div class="wkOptions__box1 wkOptions__box-district">
                                    <select class="wkOptions__select1 wkOptions__select" name="skin-type"
                                            data-weedkarma-filter="">
                                        <option value="" selected="" disabled="">Select District</option>
                                        <option value="">District1</option>
                                        <option value="">District2</option>
                                        <option value="">District3</option>
                                        <option value="">District4</option>
                                        <option value="">District5</option>
                                    </select>
                                </div>
                            </section>
                        </section>

                    </div>


                    <div class=" col-lg-6 flex-align-between ">
                        <section class="st-filterRating store-filter-item">
                            <h4 class="text-center st-filter-item__title">Stores Weed High Score</h4>
                            <div class="fx  st-filterRating__container">
                                <form class="st-filterRating__item" method="POST">
                                    <input type="checkbox" class="st-filterRating__checkbox"
                                           id="st-filterRating--1">
                                    <label for="st-filterRating--1" class="st-filterRating__sup">+1</label>
                                </form>
                                <form class="st-filterRating__item" method="POST">
                                    <input type="checkbox" class="st-filterRating__checkbox"
                                           id="st-filterRating--2">
                                    <label for="st-filterRating--2" class="st-filterRating__sup">+2</label>
                                </form>
                                <form class="st-filterRating__item" method="POST">
                                    <input type="checkbox" class="st-filterRating__checkbox"
                                           id="st-filterRating--3">
                                    <label for="st-filterRating--3" class="st-filterRating__sup">+3</label>
                                </form>
                                <form class="st-filterRating__item" method="POST">
                                    <input type="checkbox" class="st-filterRating__checkbox"
                                           id="st-filterRating--4">
                                    <label for="st-filterRating--4" class="st-filterRating__sup">+4</label>
                                </form>
                                <form class="st-filterRating__item" method="POST">
                                    <input type="checkbox" class="st-filterRating__checkbox"
                                           id="st-filterRating--5">
                                    <label for="st-filterRating--5" class="st-filterRating__sup">+5</label>
                                </form>
                            </div>
                        </section>
                        <section class="st-filter-service store-filter-item">
                            <!--<h4 class="text-center st-filter-item__title">Select Service</h4>-->
                            <div class="wkOptions__box1 wkOptions__box-district">
                                <select class="wkOptions__select1 wkOptions__select" name="skin-type"
                                        data-weedkarma-filter="">
                                    <option value="" selected="" disabled="">Select Services</option>
                                    <option value="">service1</option>
                                    <option value="">service1</option>
                                    <option value="">service1</option>
                                    <option value="">service1</option>
                                    <option value="">service1</option>
                                </select>
                            </div>
                        </section>

                    </div>
                    <div class="">

                    </div>

                </div>
            </div>
           
            @*<div class="col-lg-1 range-block">

                <div class="range-slider">
                    <input type="range" value="0" orient="vertical" min="0" max="100" />
                    <div class="range-slider__bar"></div>
                    <div class="range-slider__thumb"> </div>
                    <div class="range-slider-main__thumb"><i class="fas fa-caret-right"></i></div>
                </div>

            </div>*@
        </div>
    </div>

</section>

<main class="wkPage--store">

    <div class="wkStructure wkShop__container container--medium">
        <!-- WK Structure Aside Start -->
        <aside class="wkStructure__aside wkStore__aside">
            <div class="dispensary-content">


                <h4 class="dispensary-content-title">
                    ORDER MARIJUANA
                    PICKUP AND DELIVERY in
                    <span class="city-text"> CALIFORNIA LOS ANGELES</span>
                </h4>
                <div class="dispensary-content-description">
                    <p>
                        Weed Karma is a unique platform for medical marijuana lovers who want to purchase only the
                        best
                        quality product and have a variety of choice, while dispensaries get access to the private
                        online
                        stores, where they can display their products, get real reviews from real people, get
                        reputation, etc.
                        The whole site has been created and enriched with necessary services for your ease.
                    </p>

                    <p>
                        Weed karma is the easiest and fastest service for medical marijuana pickup and delivery. All
                        because the
                        project Weed Karma collected on its website only the best delivery services. At any time of
                        the
                        day they
                        are ready to bring you the best cannabis. Also, you have a unique opportunity to get support
                        of
                        our
                        club. Operators of our call center will always provide any information you need about the
                        delivery
                        services. The order in Weed Karma up to its execution is strictly controlled. So be sure
                        that
                        your order
                        with cannabis after registration on our website will soon be on your dispose.
                    </p>
                    <p>
                        The unified system of orders is constantly being improved, which helps to make the order of
                        cannabis the
                        most convenient for each visitor. Currently, the registration of delivery is additionally
                        made
                        using the
                        Weed Karma application, which is installed on your mobile.
                    </p>
                    By sending a request for medical marijuana, you can immediately take money from a Bank card.
                    This
                    version of the calculation is completely safe and makes it easy to solve all the issues.
                    Delivery of rolls is round the clock and you pay courier of the dispensary after receiving the
                    order.
                    You can pay in cash or by credit card. Choose a convenient option for you! Enjoy Your time,
                    enjoy
                    Your
                    cannabis!
                </div>
            </div>
        </aside>
        <!-- WK Structure Aside End -->
        <!-- ----------------------- -->
        <!-- WK Structure Section Start -->
        <section class="wkStructure__section wkStores__container">
            <a href="javascript:void(0)" class="dib visible__mobile--big wkShop__filtersSwitcher">
                <!-- Filters -->
                <!--<i class="fas "></i>-->
                <i class="fa fa-chevron-right wkShop__filtersSwitcherIcon" aria-hidden="true"></i>
            </a>
            <!-- <div class="wkShop__whiteLine"></div> -->
            <!-- <ul class="wkShop__list st-store__container"> -->
            <div class="st-store__container">
                <!-- Single Shop -->

                <div class="st-store__area" id="storeArea">



                </div>
                

                </div>
                <!-- Single Shop End -->
                <!-- </ul> -->
            
        </section>
        <!-- WK Structure Section End -->
    </div>
    <!-- WK Structure End -->
</main>
<main class="mp-main ">
    <div class="container--medium">
        <!--<a href="javascript:void(0)" class="mp-filters__switcher">-->
        <!--<i class="fa fa-filter" aria-hidden="true"></i>-->
        <!--</a>-->

        <section class="mp-container">
            <aside class="mp-aside">
                <a href="javascript:void(0)" class="mp-aside__toggleBtn ">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>

                <div class="st-left-block-shop-search-block">
                    <form action="#">
                        <input id="stLeftBlockShopSearchInput" type="text" class="left-block-search-input">
                        <label for="stLeftBlockShopSearchInput" class="left-block-search-label">
                            <i class="fas fa-search"></i>
                        </label>
                    </form>
                </div>
                <div class="wkShop__listWrapper">


                    <!-- <div class="wkShop__scrollBar"></div> -->
                    <ul class="mp-aside__list" id="mpLeftShopList">
                        
                    </ul>
                </div>

            </aside>
            <div id="wkMap"></div>
        </section>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<!-- jQuery v.3.2.1 -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.3/jquery.slimscroll.min.js"></script>
<!-- jQuery UI v.1.12.1 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<!-- <script src="library/slick/slick/slick.min.js"></script> -->

<script src="~/js/store.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyDMjd4GoTQnq3BxmWzh4PV-6hCp2YKEY&callback=initMap">

</script>
<script src="~/js/map.js"></script>
<script src="~/js/range-scroll.js"></script>
<script>
   
</script>