body {
    font-family: "Open Sans", sans-serif;
    position: relative;
}

.body-before:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(2, 2, 2, .5);
    z-index: 9;
}

/* Title with line */
.wkTitle {
    font-size: 7px;
    margin: 1.5em 0;
    align-items: flex-end;
}

.wkTitle__text {
    font-size: 3.6em;
    font-weight: 100;
    /* max-width: 400px; */
    /* max-width: var(--wkTitleWidth); */
    /* width: 100%; */
    text-transform: uppercase;
    /* padding-left: 2.88em; */
    /* padding-left: 2.1em; */
    padding-right: 0.48em;
    flex: 0 0 auto;
}

.wkTitle__restLine {
    height: 0.5em;
    /* max-width: calc(100% - var(--wkTitleWidth)); */
    width: 100%;
    background-color: var(--green);
    display: block;
    position: relative;
    top: -1.1em;
}

/* Breadcrumbs */
.wkBreadcrumbs {
    height: 27px;
    line-height: 27px;
    background-color: #dbdbdb;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (max-width:768px) {
    .wkBreadcrumbs {
        height: 20px;
        line-height: 20px;

    }
}

.wkBreadcrumbs__list {
}

.wkBreadcrumbs__item {
}

.wkBreadcrumbs__item. wkBreadcrumbs__link {
    color: #000;
}

.wkBreadcrumbs__item:last-child .wkBreadcrumbs__link {
    color: #000;
    pointer-events: none;
}

.wkBreadcrumbs__item:not(:last-child) .wkBreadcrumbs__link::after {
    content: "/";
    color: #b7b7b7;
    display: block;
    margin: 0 3px;
}

.wkBreadcrumbs__link {
    font-size: 12px;
    display: flex;
    color: #000;
}
@media screen and (max-width:768px) {
    .wkBreadcrumbs__link {
        font-size: 10px;
        display: flex;
        color: #000;
    }
}


/* Banner */
.wkBanner {
    height: 43px;
    color: #fff;
    font-size: 15px;
    line-height: 43px;
    text-transform: uppercase;
    /* background-color: #174809; */
    background-image: url("../img/top.jpg");
    /* background-position: left bottom; */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.wkBanner__layer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.wkBanner__text {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    position: relative;
    z-index: 1;
}

/* Header */
.wkHeader {
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    /* padding: 20px 0 0; */
    position: relative;
    z-index: 10;
}

.wkHeader--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.wkHeader__wrapper {
    height: 100%;
}

/* Search Popup */
.searchPopup {
    transition: width 0.3s;
    /* height: var(--searchPopupHeight); */
    height: 0;
    width: 0;
    background-color: #fff;
    border-radius: 10px;
    /* border: 1px solid #000; */
    /* border-top: none; */
    visibility: hidden;

    position: absolute;
    /* bottom: calc(-1 * var(--searchPopupHeight)); */
    /*height: 35px;*/
    /*width: 220px;*/
    /*transform: translateY(-50%);*/
    right: 40px;
    bottom: -12px;
    z-index: 1;
    /* bottom: 0;
    z-index: -1; */
}

.open-search-pop-up {
    transition: width  0.3s;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    width: 300px;
    visibility: visible;
    height: 44px;

}

.searchPopup--open {
    /* bottom: calc(-1 * var(--searchPopupHeight)); */
    bottom: -157px;
    z-index: 1;
}

.searchPopup__form {
    height: 100%;
}

.searchPopup__wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchPopup__inputGroup {
    height: 100%;
    align-items: flex-end;
}

.searchPopup__input {
    height: 30px;
    width: 100%;
    color: #666;
    /* font-size: 20px; */
    font-size: 16px;
    text-indent: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--darkGreen);
    margin: 0 10px;
}

.inputField {
    margin: 0 5px;
}

.inputField_1 {
    width: 150px;
}

.inputField_2 {
    width: 60px;
}

.searchPopup__submit {
    height: 30px;
    width: 30px;
    color: var(--darkGreen);
    cursor: pointer;
    /* font-size: 15px; */
    /* line-height: 30px; */
    background-color: transparent;
    border: 2px solid var(--darkGreen);
    border-radius: 50%;
    box-sizing: content-box;
    margin-right: 10px;
}

.searchPopup__submitIcon {
    font-size: 20px;
    line-height: 30px;
}

/* Menu */
.menu {
}

.menu--left {
    position: absolute;
    left: 0;
    top: 45px;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/

}

.menu__list {
    align-items: flex-end;
}

.menu__item {
    margin: 0 15px;
}

.menu__item-img {
    display: none;

}

.menu__item:first-child {
    margin-left: 0;
}

.wkHeader__rightMenu {
    align-items: center;

}

.wkHeader__rightMenuItem {
    position: relative;

}

.wkHeader__rightMenuItem img {
    height: 20px;
}

.accountPopup {
    max-height: 0;
    width: 150px;
    transition: max-height 0.3s;
    background-color: #fff;
    border: 1px solid var(--lightBrown);
    visibility: hidden;
    padding: 25px;
    position: absolute;
    top: 60px;
    /*left: 0;*/
    right: 0;
    margin: 0 auto;
}

.open-account-pop-up {
    /*transition: max-height  0.3s;*/
    max-height: 300px;
    visibility: visible;

}

.account-log-in-block img {
    margin-right: 10px;
    height: 25px;
    width: 25px;
}
.account-log-in-block-title {
    color: #333;
    font-size: 13px;
    font-weight: 600;
}

.accountPopup__link {

    transition: background-color 0.3s;
    background-color: green;
    padding: 5px 10px;
    border-radius: 10px;

    min-width: 100px;
    display: block;
    color: white;
    font-size: 14px;
    text-align: center;
}

.accountPopup__listItem {
    margin-top: 10px;
}

.accountPopup__listItem:hover .accountPopup__link {
    /*color: #333;*/
    transition: 0.3s;
    background-color: #818285;
    }

.wkHeader__rightLink:last-child {
    margin-right: 0;
}
.bag-empti-button{
    position: absolute;
    right: 0;
    bottom: -28px;
    width: 130px;
    font-size: 12px;
    background-color: white;
    padding: 3px 5px;
    border-radius: 15px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    display: none;
}
.bag-empti-button i{
    position: absolute;
    color:white;
    top: -8px;
    right: 15px;
}

.menu__link {
    /* color: var(--darkBrown); */
    /* color: #3c3c3c; */
    color: var(--green);
    font-size: 15px;
    /* text-transform: uppercase; */
}

/* Logo */
.logo {
    height: 50px;
    width: 110px;
}

.wkFooter__logo {
    height: 70px;
    width: 100px;
}

.logo--centered {
    /* height: 39px; */
    /* width: 200px; */
    /* width: 15.333333em; */
    color: #000;
    /* font-size: 15px; */
    display: block;
    /* margin: 1.333333em auto 0; */
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}

.logo__item {
    height: 100%;
    width: 100%;
}

.logo__bottom {
    text-align: center;
}

.logo__bottomText {
    font-size: 16px;
    text-transform: uppercase;
}

.logo__bottomText--bold {
    font-weight: 700;
}

.logo__bottomText--header {
    color: var(--green);
}

.logo__bottomText--footer {
    color: #fff;
    font-size: 15px;
}

/* .logo--centered img {
  height: auto;
  max-width: 100%;
  width: 100%;
} */
.logo__firstWord {
    font-family: "DirtyBitch";
    font-size: 4em;
    line-height: 0.5em;
    text-transform: capitalize;
}

.logo__secondWord {
    /* font-family: "DirtyBitch"; */
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 1;
}

.logo__thirdWord {
    font-size: 0.75em;
    text-align: right;
    text-transform: uppercase;
}

.wkHeader__container {
    position: relative;
}

/* Header Right */
.wkHeader__right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.wkHeader__rightLink {
    /* color: var(--darkBrown); */
    /* color: #666; */
    color: var(--green);
    font-size: 15px;
    /* text-transform: uppercase; */
    margin: 0 15px;
}

/* .wkHeader__rightLink img {
  height: 16px;
  width: 16px;
  display: block;
  margin-left: 10px;
} */

.wkHeader__rightLink i {
    /* height: 16px;
    width: 16px; */
    display: block;
    margin-left: 10px;
}

/* Canvas Section */
.canvasContainer {
    /* height: 625px; */
    height: 240px;
    /*background-image: url("../img/top.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    position: relative;
}

.canvasContainer__layer {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#wkCanvas {
    height: 100%;
    width: 100%;
}

/* Best Offers Section */
.offersSection__container {
    background-color: #f3f3f3;
    padding: 5px 0;
}
.offersSection-item{
    margin-bottom: 10px;
}
.offersSection-item-title {
    font-weight: 100;
    padding: 0;
    display: block;
}

/* Blog/TV Section */
.blogSection__container {
    height: 100%;
    /* width: 1340px;
    margin: 0 auto; */
    padding-top: 15px;
    padding-bottom: 15px;
}

.blogSection__box {
    height: 274px;
    /* background-color: #d00; */
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    margin-left: 20px;
    margin-right: 20px;
}

.blogSection__leftBox {
    width: 380px;
    /* background-image: url("../img/tv3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.blogSection__videoBox {
    height: 234px;
    width: 364px;
    border: 6px solid var(--tvColor);
    border-radius: 4px;
    margin: 4px auto 0;
    position: relative;
}

.blogSection__line {
    height: 8px;
    width: 50%;
    background-color: var(--tvColor);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
}

.blogSection__videoBox iframe {
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.blogSection__rightBox {
    width: 530px;
}

.blogSection__detailsBox {
    /* height: 375px; */
    /* background-color: #fff; */
    /* border: 1px solid var(--lightBrown); */

    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 3px 30px #000;
    position: relative;
    /* Make blur effect */
    z-index: 1;
}

.blogSection__bg {
    height: 334px;
}

.blogSection__bg,
.blogSection__detailsBox::before {
    background-image: url("../img/top.jpg");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    background-attachment: fixed;
}

.blogSection__detailsBox::before {
    content: "";
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    z-index: -1;
}

.blogSection__detailsSubBox {
    width: 400px;
    margin: 0 auto;
}

.blogSection__detailsRow {
    padding-top: 15px;
    padding-bottom: 15px;
}

.blogSection__details {
    max-width: 350px;
    padding-left: 20px;
}

.blogSection__title {
    /* color: #545559; */
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
}

.blogSection__count {
    color: white;
    font-size: 42px;
    line-height: 38px;
}

.blogSection__text {
    max-width: 100%;
    width: 100%;
    color: #000;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blogSection__separator {
    /* width: 500px; */
    background-color: #c1c0c2;
    border: none;
    outline: none;
    margin: 0 auto;
}

/* About Section */

.aboutSection__heading {
    font-family: "Times New Roman";

    color: var(--green);
    font-size: 16px;
    font-weight: 600;
}

.aboutSection__text {
    font-family: "Times New Roman";

    color: #545559;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    margin: 10px 20px;

}

.aboutSection__text li {
    padding-left: 30px;
    margin-bottom: 5px;
}

.aboutSection__text li:before {
    position: absolute;
    content: "";
    background-image: url("../img/list-icon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    left: 0;
    /*margin-right: 30px;*/

}

.aboutSection__bottom {
    height: 334px;
    background-image: url("../img/header-slider/about-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-bottom: 20px;
    position: relative;
}

.aboutSection__bottom-container {
    height: 100%;
    position: relative;
}

.aboutSection__bottom-title {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 25px;
    /* padding: 40px 0; */
}

@media only screen and (max-width: 991px) {
    .aboutSection__bottom {
        background-image: url("../img/header-slider/about-bg-tablet.png");
    }
}

@media only screen and (max-width: 768px) {
    .aboutSection__bottom {
        background-image: url("../img/header-slider/about-bg-mobile.png");
    }

    .aboutSection__bottomContainer {
        margin: 0 auto;
        left: 0;
    }

}

.aboutSection__bottomContainer {
    /*height: 100%;*/
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 225px;
}

.wkMarketLinks {
}

/* Options */
.wkOptions__box {
    max-width: 15%;
    width: 100%;
    margin: 0 15px;
}

.wkOptions__select {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #000;
    padding: 8px 0;
}
