
<main style="background-color:#ececed">
    <div class="container--medium">
        <div class="no-location fx fx-center-h fx-center-v" style="min-height: 400px">
            <div class="no-location-img">
                <img src="~/img/logo.svg" alt="" style="width: 200px; margin-right: 20px">
               
            </div>
            <div class="no-location-content">
                <h2>Weed Karma</h2>
                <p>
                    THIS CITY HASN'T LEGALIZED MEDICAL OR RECREATIONAL MARIJUANA. <br/>CHANGE YOUR LOCATION ABOVE 

                </p>
                
            </div>
            
        </div>
    </div>
    <hr />
</main>