/*-------------------- global-styles --------------------*/

html {
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;

}

body {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Open Sans', 'PT Sans', sans-serif;
  margin: 0;
  width: 100%;
  padding: 0;
  //position: relative;
}

body * {
  box-sizing: border-box;
  font-family: 'Open Sans', 'PT Sans', sans-serif;
}

*:active,
*:focus,
*:hover,
*:visited {
  text-decoration: none !important;
  outline: none;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
dl,
ol,
ul {
  list-style-type: none;
}
.block {
  display: block;
}
.bold {
  font-weight: bold;
}


.pd-5 {
  padding: 5px;

}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.p-0 {
  padding: 0 !important;
}



a{
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;

  //&:hover{
  //  color: white;
  //}
  //&:active{
  //  color: white;
  //}
}

ul{
  padding: 0;
  margin: 0;
}
.display-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.align-items-center {
  -ms-align-items: center;
  align-items: center;
}

.flex-center {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.flex-direction-column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.fx-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}