@using Weed.Karma.Models.Brand
@model BrandProductViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="~/businessDashboard/styles/main-respons.css">
    <link rel="stylesheet" href="~/businessDashboard/styles/bootstrap.min.css">
    <link rel="stylesheet" href="~/businessDashboard/styles/global-styles.css">
    <link rel="stylesheet" href="~/businessDashboard/styles/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="~/businessDashboard/styles/pages/store-page.css">
    <link rel="stylesheet" href="~/businessDashboard/styles/pages/store-product-add.css">
</head>
<body>
    <div class="page-wrapper chiller-theme toggled">
        <!--header block-->
        @await Html.PartialAsync("_AdminHeader")
        <!--header block End-->
        <!--sidebar-wrapper-->

        @await Html.PartialAsync("_StoreAdminLeftMenu")
        <main class="page-content margin-top">
            <div class="container-fluid store-body">

                <h1 class="section-title">
                    Add Brand Product
                </h1>
                <div class="body-section">
                    <form method="post" id="addProductForm">
                        <input type="hidden" name="BrandId" value="@Model.BrandId" />
                        <input type="hidden" name="LogoPath" id="brandProductImagePath" />
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-3 col-md-3 col-sm-12">

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-item">
                                                <label for="selectCategory" class="form-item-label">
                                                    Select Category*
                                                    <span class="information-popup-button">
                                                        <i class="fas fa-info-circle"></i>
                                                        <span class="information-popup"></span>
                                                    </span>
                                                </label>
                                                <div class="rail-select">
                                                    <div class="select-side">
                                                        <i class="fas fa-chevron-down"></i>
                                                    </div>
                                                    <select required class="input-select" id="selectCategory" name="CategoryId">

                                                        <option value="" data-product-size="1" hidden disabled selected>Select Category</option>

                                                        @foreach (var item in Model.BrandCategories)
                                                        {
                                                            <option value="@item.Id">@item.CategoryName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-lg-12 col-sm-12">
                                            <div class="form-item">
                                                <label for="productName" class="form-item-label">
                                                    Product Name*<span class="information-popup-button">
                                                        <i class="fas fa-info-circle"></i>

                                                        <span class="information-popup"></span>
                                                    </span>
                                                </label>
                                                <input type="text" class="input-text" id="productName" required name="Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-item">
                                                <label for="producMetaKey" class="form-item-label">Product Meta Keys</label>
                                                <input type="text" class="input-text" id="producMetaKey" name="Hashtag">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 d-flex justify-content-between flex-column">
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="form-item">
                                                <label for="productDescription" class="form-item-label">
                                                    Description*
                                                    <span class="information-popup-button">
                                                        <i class="fas fa-info-circle"></i>
                                                        <span class="information-popup"></span>
                                                    </span>
                                                </label>
                                                <textarea type="text" class="input-textarea" id="productDescription"
                                                          required name="Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="downloaded-product-image">
                                            </div>
                                            <div class="form-item img-download-block">
                                                <!--<label class="form-item-label">Insert logo*</label>-->
                                                <label class="file-container ">
                                                    <span class="insert-image">Product image</span>
                                                    <img class="img-download-button-icon"
                                                         src="img/img-download-button-icon.png" alt="">
                                                    <div class="dowonloded-text fx fx-center">
                                                        <span class="file-is-done"> file is done</span>
                                                        
                                                    </div>
                                                    <input type="file" class="input-file brand-product-image" data-base64="" id="brand-product-image" name="LogoPath" value="" required>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-sm-12 no-label justify-content-center">

                                <input type="submit" class="input-submit" id="" value="Save">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <!--page-content"-->
    </div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="~/businessDashboard/scripts/bootstrap-tagsinput.js"></script>
<script src="~/businessDashboard/scripts/bootstrap.min.js"></script>
<script src="~/businessDashboard/scripts/store-page.js"></script>
<script src="~/businessDashboard/scripts/brand-product-add.js"></script>