@using Weed.Karma.Models.Members
@model CurrentUserViewModel
@{

}
<link rel="stylesheet" href="~/css/pages/account.css" />
<main class="account-profile">
    <div class="container--medium">
        <div class="row">
            <div id="content">
                <div class="card_profile">
                    <div class="card_profile-header content-item-header">


                        <h1 class="card_profile-header-title content-item-header-title"> <i class="fas fa-address-card"></i>My profile</h1>
                        <div class="for_buttons">
                            <a class="bttn" href="account-edite-profile.html">Edit Profile</a>
                            <a class="bttn" href="account-password.html">Change password</a>
                        </div>
                    </div>


                    <div class="profile_info">
                        <ul>
                            <li class="profile_info-item fx">
                                <div class="profile_info-item-left-block"><strong>Full Name</strong></div>
                                <div class="profile_info-item-right-block"> @Model.FirstName @Model.LastName</div>
                            </li>
                            <li class="profile_info-item fx">
                                <div class="profile_info-item-left-block"><strong>E-mail</strong></div>
                                <div class="profile_info-item-right-block"> @Model.UserName</div>
                            </li>
                            <li class="profile_info-item fx">
                                <div class="profile_info-item-left-block"><strong> Phone Number </strong></div>
                                <div class="profile_info-item-right-block"> +37493767521</div>
                            </li>

                            <li class="profile_info-item fx">
                                <div class="profile_info-item-left-block"><strong>Date of byrd</strong></div>
                                <div class="profile_info-item-right-block"> 28/09/1994</div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="card_address">
                    <div class="content-item-header">
                        <h1 class="content-item-header-title"> <i class="fas fa-globe-americas"></i> My address</h1>

                    </div>


                    <div class="user-form__wrap address">
                        <form action="" method="post" class="user-addr__form" id="user-addr__form">
                            <label class="user-addr__label">
                                <span class="tooltip-v2-par .tooltip-v2-par">
                                    <input type="text" placeholder="City, Street, home" id="user-addr__input"
                                           class="user-addr__input user-addr__input__type1 user-addr__input__select ui-autocomplete-input"
                                           value="" autocomplete="off"><span role="status" aria-live="polite"
                                                                             class="ui-helper-hidden-accessible"></span>

                                </span>
                                <span class="user-addr__links">

                                </span>

                            </label>

                            <label>
                                <a href="#" class="user-addr__submit sbm-btn">Add Address</a>
                                <input type="submit" hidden="">
                            </label>
                            <!--addresses list-->
                        </form>
                    </div><!--user-form__wrap-->
                    <div class="addresses">
                        <div class="uaddresses-str">
                            <b>City, Street, home</b>
                            <div class="address-edit fx fx-center-v">

                                <a class="delete_uaddress" rel="" href="javascript:void(0)">
                                    <img class="va" height="16" width="12" src="/img/account/delete_red.png" alt="delete"
                                         title="delete">
                                    delete
                                </a>

                            </div>
                        </div>


                    </div>
                </div>

                @*<div class="card_plastic js-card-list">
                    <div class="card_profile-header content-item-header">


                        <h1 class="card_profile-header-title content-item-header-title"><i class="fas fa-credit-card"></i> My bank card</h1>

                        <div class="for_buttons">
                            <a class="bttn" href="#">Add Card</a>
                        </div>
                    </div>


                    <div class="my_cards usd1tip">
                        Lorem ipsum dolor sit amet ipsum dolor sit amet
                        <span class="ptusd"> 1 $ </span>.
                        <a href="javascript:void(0)" class="usd1hide">×</a>
                    </div>

                </div>*@

            </div>
        </div>
    </div>


</main>
