
@{
    ViewData["Title"] = "ChangePassword";
}

<link rel="stylesheet" href="/css/pages/account.css" />
<main class="change-password-page">
    <div class="container--medium">
        <div class="row">
            <div class="change-password-page-section">
                <h1 class="change-password-page__header">Change Password</h1>
                <div class="change-password-page__content">
                    <form action="#" method="post" class="change-password-form">

                        <div class="form-item">
                            <label for="oldPassword" class="form-item-label">Old password*</label>
                            <input type="password" class="input-text" id="oldPassword" name="OldPassword" required>
                        </div>
                        <div class="form-item">
                            <label for="newPassword" class="form-item-label">New password*</label>
                            <input type="password" class="input-text" id="newPassword" name="NewPassword" required>
                        </div>

                        <div class="form-item">
                            <label for="confirmNewPassword" class="form-item-label">Confirm new password*</label>
                            <input type="password" class="input-text" id="confirmNewPassword" name="ConfirmPassword" required>
                        </div>


                        <div class="form-item">
                            <label class="edit-profile-form__label edit-profile-form__submit ">
                                <!--<span class="decor edit-profile-form__caption"></span>-->
                                <input value="1" name="save" type="hidden">
                                <button class="input-submit" href="/Members/ChangePassword">Save<span></span></button>
                            </label>
                        </div>


                    </form>
               
                </div>
            </div>
        </div>
    </div>


</main>

<script src="/js/account.js"></script>

