/* font family */
/* font family */
.no-label {
  display: flex;
  align-items: flex-end;
  min-height: 74px; }

label {
  margin-bottom: 0 !important; }

.form-item {
  font-family: "Open Sans", "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
  position: relative; }

.form-item-label {
  cursor: pointer;
  font-size: 13px;
  color: #444444;
  line-height: 1.482;
  margin-left: 10px;
  padding: auto; }

.label-center {
  width: 100%;
  text-align: center;
  margin: 0; }

.input-text {
  font-size: 13px;
  padding: 10px 10px;
  border: 1px solid #47484b;
  color: #47484b;
  outline: none;
  width: 100%;
  border-radius: 4px;
  background-color: transparent; }

.input-password {
  font-size: 13px;
  padding: 10px 10px;
  border: 1px solid #868686;
  outline: none;
  width: 100%; }

.input-email {
  font-size: 13px;
  padding: 10px 10px;
  border: 1px solid #868686;
  outline: none;
  width: 100%; }

.input-submit {
  background-color: #083c0b;
  font-size: 14px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  text-align: center;
  border: 1px solid #083c0b;
  padding: 10px 5px;
  outline: none;
  transition: 0.3s;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-transform: uppercase;
  max-width: 165px;
  width: 165px;
  font-weight: normal; }

.input-select, .input-select option {
  background-color: #083c0b;
  font-size: 14px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  text-align: center;
  border: 1px solid #083c0b;
  padding: 10px 5px;
  outline: none;
  transition: 0.3s; }

.input-select {
  width: 100%;
  background-color: #083c0b;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input-select option {
  background-color: #afafaf;
  padding: 10px 10px;
  line-height: 50px;
  color: #083c0b; }

.rail-select {
  position: relative; }
  .rail-select .select-side {
    position: absolute;
    right: 10px;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; }

.store-information-title {
  font-family: "Open Sans", "PT Sans", sans-serif;
  font-size: 18px;
  color: #083c0b;
  text-align: center;
  font-size: 24px;
  color: blue;
  padding: 20px; }

.select2-container {
  width: 100% !important; }

.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: 1px solid #47484b;
  border-radius: 4px;
  padding: 5px; }

.select2-selection__arrow {
  display: none; }

.select2-dropdown {
  border: 1px solid #0c401e; }

.select2-container .select2-selection--single {
  color: white;
  height: auto; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #47484b !important; }

.select2-selection__clear {
  display: none; }

.select2-results__option {
  background-color: #ececed; }

.select-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  z-index: 2;
  color: #47484b !important; }

.region-dropbtn {
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  color: #47484b;
  border: 1px solid #47484b;
  padding: 10px 15px;
  outline: none;
  transition: 0.3s;
  border-radius: 4px; }

#regionDropdown {
  display: none; }

.dropdown--delivery-region-content {
  background-color: #868686;
  position: absolute;
  width: 100%;
  z-index: 20;
  height: 150px;
  overflow: auto; }
  .dropdown--delivery-region-content ul {
    list-style: none;
    padding: 0; }
  .dropdown--delivery-region-content li {
    padding: 10px;
    border-bottom: 1px solid white; }

.delivery-region-block {
  display: none; }

.file-container {
  background-color: #083c0b;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  border: 1px solid #083c0b;
  padding: 10px 15px;
  outline: none;
  transition: 0.3s;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center; }
  .file-container .input-file {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0; }
  .file-container .dowonloded-text {
    display: none;
    justify-content: space-between; }

.working-hourse-block {
  color: #444444;
  display: flex;
  justify-content: space-around; }
  .working-hourse-block select {
    margin: 0 5px;
    width: 70px; }
  .working-hourse-block .from, .working-hourse-block .to {
    display: flex;
    align-items: center; }

.input-select {
  background: #ffffff;
  border: 1px solid #47484b;
  color: #47484b;
  padding: 0 5px;
  border-radius: 4px;
  font-weight: 500; }

.delivery-duration-block {
  display: flex;
  width: 100%; }
  .delivery-duration-block select {
    width: 100%; }

.credit-card-block input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none; }
  .credit-card-block input:active + .credit-card-img {
    opacity: .9; }
  .credit-card-block input:checked + .credit-card-img {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none; }
.credit-card-block .credit-card-img {
  cursor: pointer;
  width: 100%;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7); }
  .credit-card-block .credit-card-img:hover {
    -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    filter: brightness(1.2) grayscale(0.5) opacity(0.9); }
  .credit-card-block .credit-card-img img {
    width: 100%;
    max-width: 60px; }

.show {
  display: flex !important; }

.hide {
  display: none; }

input[type="submit"] {
  margin: 0 auto; }

.select-city {
  display: none; }

.address {
  display: none; }

.checkbox-block {
  margin: 0 auto;
  list-style: none;
  display: inline-flex;
  padding: 0; }
  .checkbox-block li {
    margin: 0 10px; }
  .checkbox-block input {
    margin-right: 5px; }

.delivery-service input {
  display: none; }
  .delivery-service input:active + .delivery-service-button {
    background-color: #0c401e; }
  .delivery-service input:checked + .delivery-service-button {
    background-color: #0c401e; }

.dropdown-delivery-region {
  position: relative; }

.delivery-block {
  text-align: center;
  display: flex;
  justify-content: center; }
  .delivery-block .delivery-service {
    padding: 15px;
    margin-left: 0;
    display: flex;
    align-items: center; }
    .delivery-block .delivery-service .delivery-service-button {
      display: block;
      background-color: #47484b;
      height: 15px;
      width: 15px;
      cursor: pointer;
      border-radius: 50%;
      font-weight: 600;
      text-align: center;
      border: none;
      margin-right: 5px;
      outline: none;
      transition: 0.3s; }

.delivery-all-block-input {
  max-width: 100px;
  margin: 0 10px;
  background-color: white;
  color: #47484b; }

.delivery-all-block-text, .delivery-all-block-price {
  color: #47484b;
  font-size: 12px; }

.delivery-all-block-text {
  display: block;
  min-width: 140px; }

.delivery-all-block {
  display: none; }

.delivery-all-block-active {
  display: flex; }

.delivery-all-block-non-active {
  display: block; }

/*# sourceMappingURL=store-info.css.map */
