@import "../main-styles";
@import "../form-styles";

.store-information-title {
  @include second-title;
  text-align: center;
  font-size: 24px;
  color: blue;
  padding: 20px;
}

.select2-container {
  width: 100% !important;
  //background-color: $color-green;
}

.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: 1px solid $darkBrown;
  border-radius: 4px;
  padding: 5px;
}

.select2-selection__arrow {
  display: none;
}

.select2-dropdown {

  border: 1px solid #0c401e;
}

.select2-container .select2-selection--single {
  //background-color: $color-green;
  color: white;

  height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $darkBrown !important;
}

.select2-selection__clear {
  display: none;
}

.select2-results__option {
  background-color: $lightBrown;
}

//.select2-results__option[aria-selected]{
//  background-color: $color-green;
//}
.select-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  z-index: 2;
  color: $darkBrown !important;

}

.region-dropbtn {
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  color: $darkBrown;
  //font-weight: 600;
  //text-align: center;
  border: 1px solid $darkBrown;
  padding: 10px 15px;
  outline: none;
  transition: 0.3s;
  border-radius: 4px;
}

#regionDropdown {
  display: none;
}

.dropdown--delivery-region-content {
  background-color: #868686;
  position: absolute;
  width: 100%;
  z-index: 20;
  height: 150px;
  overflow: auto;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding: 10px;
    border-bottom: 1px solid white;
  }
}

.delivery-region-block {
  display: none;
}

.file-container {
  background-color: $color-green;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  //text-align: center;
  border: 1px solid $color-green;
  padding: 10px 15px;
  outline: none;
  transition: 0.3s;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;

  .input-file {

    cursor: pointer;
    display: block;
    //font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }

  .dowonloded-text {
    display: none;
    justify-content: space-between;
  }
}

//select {
//  padding: 10px 5px;
//  font-size: 13px;
//  color: white;
//  border: none;
//  outline: none;
//  cursor: pointer;
//  border-radius: 5px;
//}

//select {
//  width: 100%;
//  background-color: transparent;
//  border: 1px solid #0f3311 ;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;
//  color: #0f3311;
//}
//
//select:after {
//  position: absolute;
//  content: ">";
//  transform: rotate(90deg);
//  width: 10px;
//  height: 10px;
//}
//
//option {
//  background-color: #afafaf;
//  padding: 15px;
//  color: #0f3311;
//}

.working-hourse-block {
  //font-family: DisplayMedium;
  color: #444444;
  display: flex;
  justify-content: space-around;
  select {
    margin: 0 5px;
    width: 70px;
  }
  .from, .to {
    display: flex;
    align-items: center;

  }
}

.input-select {
  background: #ffffff;
  border: 1px solid $darkBrown;
  color: $darkBrown;
  padding: 0 5px;
  border-radius: 4px;
  font-weight: 500;
}

.delivery-duration-block {
  display: flex;
  width: 100%;

  select {
    width: 100%;

  }
}

.credit-card-block {
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
    &:active {
      & + .credit-card-img {
        opacity: .9;
      }
    }
    &:checked {
      & + .credit-card-img {
        -webkit-filter: none;
        -moz-filter: none;
        filter: none;
      }
    }

  }
  .credit-card-img {
    cursor: pointer;
    width: 100%;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
    &:hover {
      -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
      -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
      filter: brightness(1.2) grayscale(.5) opacity(.9);
    }
    img {
      width: 100%;
      max-width: 60px;

    }
  }
}

//.checked-button {
//  display: block;
//  width: 15px;
//  background-color: #011313;
//  height: 15px;
//  border-radius: 50%;
//
//}
//
//.checking-block {
//  input {
//    display: none;
//    &:active + .checked-button {
//      background-color: $color-green;
//      color: white;
//    }
//
//    &:checked + .checked-button {
//      background-color: $color-green;
//      color: white;
//    }
//  }
//}

.show {
  display: flex !important;
}

.hide {
  display: none;
}

input[type="submit"] {
  margin: 0 auto;
}

.select-city {
  display: none;
}

.address {
  display: none;
}

.checkbox-block {
  margin: 0 auto;
  list-style: none;
  display: inline-flex;
  padding: 0;
  li {
    margin: 0 10px;
  }
  input {
    margin-right: 5px;
  }
}

.delivery-service {
  input {
    display: none;
    &:active + .delivery-service-button {
      background-color: #0c401e;
    }

    &:checked + .delivery-service-button {
      background-color: #0c401e;
    }
  }
}

.dropdown-delivery-region {
  position: relative;
}

.delivery-block {
  text-align: center;
  display: flex;
  justify-content: center;
  .delivery-service {
    padding: 15px;
    margin-left: 0;
    display: flex;
    align-items: center;
    .delivery-service-button {
      display: block;
      background-color: $darkBrown;
      height: 15px;
      width: 15px;
      cursor: pointer;
      border-radius: 50%;
      font-weight: 600;
      text-align: center;
      border: none;
      margin-right: 5px;
      outline: none;
      transition: 0.3s;
      //background-color: #077830;
    }
  }
}


.delivery-all-block-input{
  max-width: 100px;
  margin: 0 10px;
  background-color: white;
  color: $darkBrown;
}
.delivery-all-block-text, .delivery-all-block-price{
color: $darkBrown;
  font-size:12px;
}
.delivery-all-block-text{
  display: block;
  min-width: 140px;
}

.delivery-all-block {
  display: none;
}
.delivery-all-block-active {
  display: flex;
}
.delivery-all-block-non-active {
  display: block;
}