@import "../main-styles";
html, body, .login-section, .login-block{
  height: 100%
}
.logo{
  justify-content: center;
}
.login-block{
  @include flex-center;
  @include flex-direction-column;
  @include fx-wrap(nowrap);
}
.login-legend{
  text-align: center;
  text-align: -moz-center;
  text-align:-webkit-center;

}
.login-fieldset{
  width: 300px;
  padding: 10px;
}
.login-submit{

  margin: 0 auto;
}