<main class="page-content">

    <div class="container-fluid store-body">
        <!-- contact information Start-->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 class="contact-information-title">
                    Operator Information
                </h2>

            </div>
        </div>

        <div class="add-contact">
            Add contact +
        </div>

        <form action="#" method="post" id="contactInformation">
            <div class="container">
                <div class="row contact-information justify-content-center">

                    <div class="col-lg-6 col-md-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="position" class="form-item-label">Position*</label>
                                    <input type="text" id="position" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="firstNmae" class="form-item-label">First name*</label>
                                    <input type="text" id="firstNmae" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="lastName" class="form-item-label">Last name*</label>
                                    <input type="text" id="lastName" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="phoneNumber" class="form-item-label">Phone Numbe*</label>
                                    <input type="text" id="phoneNumber" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-item">
                                    <label for="email" class="form-item-label">Email*</label>
                                    <input type="text" id="email" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 no-label">
                                <div class="form-item">

                                    <input type="submit" id="" value="Save">
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>

        </form>
        <div class="contacts-block">
            <div class="row contact-item">

                <div class=" col-lg-3 contact-item-col   contact-item-position"> Manager</div>
                <div class=" col-lg-3 contact-item-col   contact-item-last-name"> Jon</div>
                <div class=" col-lg-3 contact-item-col   contact-item-first-name"> Smit</div>
                <div class=" contact-item-col contact-item-icon  contact-item-edit"> <i class="far fa-edit"></i></div>
                <div class=" contact-item-col  contact-item-icon contact-item-delete"> <i class="far fa-trash-alt"></i></div>


            </div>
        </div>
    </div>

</main>