<nav id="sidebar" class="sidebar-wrapper margin-top ">
    <div class="sidebar-content">

        <div class="sidebar-header d-flex align-items-center justify-content-around">
            <div class="user-pic">
                <img class="img-responsive img-rounded"
                     src="~/businessDashboard/img/store-logo.png"
                     alt="store-img">
            </div>
            <div class="user-info">
                <span class="user-name">Brand name </span>

            </div>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>
                </li>
               
                <li class="sidebar-dropdown">
                    <a href="javascript:void(0);">



                        <img class="left-menu-icon" src="~/businessDashboard/img/left-menu/store-info.png" alt="">
                        <span>Brands</span>

                    </a>

                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="/Brands/AllBrands">
                                    All Brands
                                </a>
                            </li>
                            <li>
                                <a href="/Business/AddBrand">Add Brand</a>
                            </li>

                        </ul>
                    </div>
                </li>




                
                

            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>

</nav>