@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity;
@using System.Web;

@{
    string baseUrl = Context.Request.Scheme + "://" + Context.Request.Host.Value;
}
<nav id="sidebar" class="sidebar-wrapper margin-top ">
    <div class="sidebar-content">

        <div class="sidebar-header d-flex align-items-center justify-content-around">
            <div class="user-pic">
                <img class="img-responsive img-rounded"
                     src="~/businessDashboard/img/store-logo.png"
                     alt="store-img">
            </div>
            <div class="user-info">
                <span class="user-name">Store name </span>

            </div>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>

                <li class="sidebar-dropdown">
                    <a href="javascript:void(0);">



                        <img class="left-menu-icon" src="~/businessDashboard/img/left-menu/store-info.png" alt="">
                        <span>Store</span>

                    </a>

                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="/Store">
                                    All Stors
                                </a>
                            </li>
                            <li>
                                <a href="/Business/AddStore">Add Store</a>
                            </li>

                        </ul>
                    </div>
                </li>




                <li class="sidebar-dropdown">
                    <a href="javascript:void(0);">


                        <img class="left-menu-icon" src="~/businessDashboard/img/left-menu/product.png" alt="">
                        <span>Products</span>
                    </a>

                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="/Store/AllProducts">
                                    All Products
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="sidebar-dropdown">
                    <a href="javascript:void(0);">


                        <img class="left-menu-icon" src="~/businessDashboard/img/left-menu/product.png" alt="">
                        <span>Deals</span>
                    </a>

                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="/Store/AllDeals">
                                    All Deals
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="sidebar-dropdown">
                    <a href="javascript:vioid();">
                        <img class="left-menu-icon" src="~/businessDashboard/img/left-menu/orders.png" alt="">
                        <span>Orders</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul id="StoreMenu"></ul>
                    </div>

                </li>
                @*<li class="sidebar-dropdown">
                        <a href="#">
                            <img class="left-menu-icon" src="~/businessDashboard/img/left-menu/diagram.png" alt="">
                            <span>Reports</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="javascript:void(0);">


                            <!--<i class="fa fa-address-book"></i>-->
                            <img class="left-menu-icon" src="~/businessDashboard/img/left-menu/megaphone.png" alt="">
                            <span>Advertising</span>
                            <!--<span class="badge badge-pill badge-danger">New</span>-->
                        </a>

                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">
                                        Best Offer
                                        <!--<span class="badge badge-pill badge-success">Pro</span>-->
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Deals</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Fb page</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Youtube page</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">instagram page</a>
                                </li>
                            </ul>
                        </div>
                    </li>*@

            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>

</nav>
<script>
    GetStoresJson('@baseUrl');

    function GetStoresJson(baseUrl) {
        
            $.ajax({
                type: "POST",
                url: baseUrl + "/Store/GetStoresJson",
                //data: 'id=' + val,
                success: function (data) {
                    data.forEach(function (i) {

                        $("#StoreMenu").append('<li><a href="/Store/Orders/' + i.id + '">' + i.shopName + '</a></li>');

                    });

                }

            });
        
    }

</script>