<div class="site-map">
    <div class="container">
        <div class="row align-center  justify-center site-map-row ">
            <div class="col-lg-6 col-sm-12">
                <div class="row align-center justify-center">
                    <div class="col-lg-3 p-5">
                        <a href="#" class="site-map-item small-height">
                            <img src="img/site-map/rorbots.png" alt="">
                            <div class="site-map-item-title">
                                robots.txt
                            </div>
                        </a>

                    </div>
                    <div class="col-lg-5 p-0">
                        <div class="horizontal-left-line"></div>
                        <div class="horizontal-right-line"></div>
                        <a href="#" class="site-map-item big-block">

                            <img src="img/logo.svg" alt="">
                            <div class="site-map-item-title">
                                WEED<span>KARMA</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 p-0">
                        <a href="#" class="site-map-item small-height">
                            <img src="img/site-map/html-coding.png" alt="">
                            <div class="site-map-item-title">
                                HTML & XML
                            </div>
                        </a>

                    </div>

                </div>
            </div>

        </div>
        <div class="row align-center justify-center site-map-row">

            <div class="col-lg-6 col-sm-12">
                <div class="row align-center justify-center">
                    <div class="col-lg-4 p-5 ">

                        <a href="#" class="site-map-item home-page-block">

                            <img src="img/site-map/home.png" alt="">
                            <div class="site-map-item-title">
                                Home Page
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-5 p-0">
                        <div class="horizontal-left-line"></div>
                        <div class="horizontal-right-line"></div>
                        <a href="#" class="site-map-item small-height">
                            <img src="img/site-map/state.png" alt="">
                            <div class="site-map-item-title">
                                State
                            </div>
                        </a>

                    </div>



                    <div class="col-lg-3 p-0">
                        <div class="city-vertical-bottom-line"></div>
                        <a href="#" class="site-map-item small-height">

                            <img src="img/site-map/skyline.png" alt="">
                            <div class="site-map-item-title">
                                City
                            </div>
                        </a>

                    </div>

                </div>
            </div>


        </div>
        <div class="row justify-center">
            <div class="col-lg-9 p-0">
                <div class="horizontal-line"></div>
            </div>
        </div>
        <div class="row  site-map-row">
            <div class="col-lg-3 col-sm-12">
                <div class="row justify-center delivery-service">
                    <div class="col-lg-12 p-5 ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>
                            <div class="vertical-top-line"></div>
                            <img src="img/site-map/delivery.png" alt="">
                            <div class="site-map-item-title">
                                Category<br>
                                Delivery
                            </div>
                        </a>

                    </div>
                </div>
                <div class="row justify-center">
                    <div class="col-lg-8 p-0">
                        <div class="horizontal-line"></div>
                    </div>
                </div>
                <div class="row justify-center delivery-service">
                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>
                            <div class="vertical-top-line"></div>

                            <img src="img/site-map/delivery-service.png" alt="">
                            <div class="site-map-item-title">
                                Delivery<br>
                                Services
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>
                            <div class="vertical-top-line"></div>

                            <img src="img/site-map/delivery-service.png" alt="">
                            <div class="site-map-item-title">
                                Delivery<br>
                                Services
                            </div>
                        </a>

                    </div>

                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>
                            <div class="vertical-top-line"></div>

                            <img src="img/site-map/delivery-service.png" alt="">
                            <div class="site-map-item-title">

                                Delivery<br>
                                Services

                            </div>
                        </a>

                    </div>
                    <div class="col-lg-4 p-5 ">

                        <a href="#" class="site-map-item">
                            <img src="img/site-map/product.png" alt="">
                            <div class="site-map-item-title">
                                Content of<br>
                                Products
                            </div>
                        </a>

                    </div>

                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <img src="img/site-map/product.png" alt="">
                            <div class="site-map-item-title">
                                Content of<br>
                                Products
                            </div>
                        </a>

                    </div>

                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <img src="img/site-map/product.png" alt="">
                            <div class="site-map-item-title">

                                Content of<br>
                                Products

                            </div>
                        </a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="row justify-center delivery-service">
                    <div class="col-lg-12 p-5  ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>
                            <div class="vertical-top-line"></div>
                            <img src="img/site-map/dispansery.png" alt="">
                            <div class="site-map-item-title">
                                Category<br>
                                Dispensary

                            </div>
                        </a>
                    </div>
                </div>
                <div class="row justify-center">
                    <div class="col-lg-8 p-0">
                        <div class="horizontal-line"></div>
                    </div>
                </div>
                <div class="row justify-center delivery-service">
                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>
                            <div class="vertical-top-line"></div>

                            <img src="img/site-map/shop.png" alt="">
                            <div class="site-map-item-title">
                                Store<br>
                                <br>
                            </div>
                        </a>

                    </div>


                    <div class="col-lg-4 p-5  ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>
                            <div class="vertical-top-line"></div>
                            <img src="img/site-map/shop.png" alt="">
                            <div class="site-map-item-title">
                                Store<br>
                                <br>

                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>
                            <div class="vertical-top-line"></div>

                            <img src="img/site-map/shop.png" alt="">
                            <div class="site-map-item-title">
                                Store<br>
                                <br>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <img src="img/site-map/product.png" alt="">
                            <div class="site-map-item-title">
                                Content of<br>
                                Products
                            </div>
                        </a>

                    </div>

                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <img src="img/site-map/product.png" alt="">
                            <div class="site-map-item-title">
                                Content of<br>
                                Products
                            </div>
                        </a>

                    </div>

                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <img src="img/site-map/product.png" alt="">
                            <div class="site-map-item-title">

                                Content of<br>
                                Products

                            </div>
                        </a>

                    </div>


                </div>
            </div>
            <div class="col-lg-1 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 p-5 ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-top-line"></div>

                            <img src="img/site-map/deals.png" alt="">
                            <div class="site-map-item-title">
                                Category<br>
                                Deals
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="row justify-center delivery-service">
                    <div class="col-lg-12 p-5 ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>
                            <div class="vertical-top-line"></div>


                            <img src="img/site-map/doctors.png" alt="">
                            <div class="site-map-item-title">
                                Category<br>
                                Doctors
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row justify-center">
                    <div class="col-lg-8 p-0">
                        <div class="horizontal-line"></div>
                    </div>
                </div>
                <div class="row justify-center delivery-service">
                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>
                            <div class="vertical-top-line"></div>

                            <img src="img/site-map/doctor.png" alt="">
                            <div class="site-map-item-title">
                                Doctor<br>
                                <br>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>
                            <div class="vertical-top-line"></div>

                            <img src="img/site-map/doctor.png" alt="">
                            <div class="site-map-item-title">
                                Doctor<br>
                                <br>

                            </div>
                        </a>

                    </div>
                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>
                            <div class="vertical-top-line"></div>

                            <img src="img/site-map/doctor.png" alt="">
                            <div class="site-map-item-title">
                                Doctor<br>
                                <br>

                            </div>
                        </a>

                    </div>
                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <img src="img/site-map/conect-doctor.png" alt="">
                            <div class="site-map-item-title">
                                Content of<br>
                                Doctors
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <img src="img/site-map/conect-doctor.png" alt="">
                            <div class="site-map-item-title">
                                Content of<br>
                                Doctors

                            </div>
                        </a>

                    </div>
                    <div class="col-lg-4 p-5 ">
                        <a href="#" class="site-map-item">
                            <img src="img/site-map/conect-doctor.png" alt="">
                            <div class="site-map-item-title">
                                Content of<br>
                                Doctors

                            </div>
                        </a>

                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="row justify-center delivery-service">
                    <div class="col-lg-6 p-5 ">
                        <div class="wiki-karma-horizontal-left-line"></div>
                        <a href="#" class="site-map-item">
                            <div class="vertical-top-line"></div>
                            <img src="img/site-map/wikiKarma.png" alt="">
                            <div class="site-map-item-title">
                                Category<br>
                                Wiki Karma

                            </div>
                        </a>

                    </div>
                    <div class="col-lg-6 p-5 ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>

                            <img src="img/site-map/blog.png" alt="">
                            <div class="site-map-item-title">
                                Blog<br>
                                <br>

                            </div>
                        </a>

                    </div>
                </div>

                <div class="row justify-center">
                    <div class="col-lg-6 p-0">
                        <div class="horizontal-line"></div>
                    </div>
                </div>
                <div class="row justify-center delivery-service">
                    <div class="col-lg-6 p-5 ">

                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>
                            <div class="vertical-top-line"></div>
                            <img src="img/site-map/blog.png" alt="">
                            <div class="site-map-item-title">
                                Category 1

                            </div>
                        </a>

                    </div>
                    <div class="col-lg-6 p-5 ">
                        <a href="#" class="site-map-item">
                            <div class="vertical-bottom-line"></div>

                            <div class="vertical-top-line"></div>
                            <img src="img/site-map/blog.png" alt="">
                            <div class="site-map-item-title">
                                Category 2

                            </div>
                        </a>

                    </div>
                    <div class="col-lg-6 p-5 ">
                        <a href="#" class="site-map-item">
                            <img src="img/site-map/post.png" alt="">
                            <div class="site-map-item-title">
                                POST
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-6 p-5 ">
                        <a href="#" class="site-map-item">
                            <img src="img/site-map/post.png" alt="">
                            <div class="site-map-item-title">
                                POST

                            </div>
                        </a>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
